.container{
    width: 100%;
}
.table-select{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .table-item{
        margin:20px;
        color: black;
        padding: 20px 40px ;
        border: green 3px solid;
        border-radius:10px;
        &:hover{
            cursor: pointer;
        }
    }
   
}

.select-btn{
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 18px;
    color: white;
    width: 200px;
    margin: 10px 20px;

    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
    }
}