.Order {
    padding: 16px 8px;
    position: fixed;
    top: var(--header-height);
    bottom: var(--header-height);
    right: 0;
    width: var(--order-width);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    h2 {
        color: var(--primary-clr);
        font-size: 24px;
    }
}

.order-bill {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    flex: 1;
}

.order-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 324px;
    flex: 1;
    &::-webkit-scrollbar {
        width: 2px;
        height: 20px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: rgba(18, 18, 18, 0.2);
    }
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: 8px;
    margin-bottom: 16px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 95%;
        height: 1px;
        background: var(--primary-clr);
    }
    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}

.order-info {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    span {
        font-size: 16px;
        margin-bottom: 2px;
    }
}

.order-amount {
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 20px;
    width: 70px;
    align-items: center;

    .order-amount-change {
        width: 20px;
        height: 20px;
        background: var(--primary-clr);
        color: white;
        font-size: 14px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: rgba(200, 74, 121, 0.6);
        }
    }

    .order-amount-num {
        padding: 0 10px;
        border: 1px solid var(--primary-clr);
        line-height: 18px;
    }
}

.order-price-del {
    font-style: 18px;
    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: var(--primary-clr);
    }
}

.order-cal {
    border-top: 2px solid #ccc;
    padding: 10px 16px;
    .order-cost,
    .order-price-total {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;

        span {
            font-weight: bold;
        }

        input {
            border: none;
            outline: none;
        }
    }

    .order-or {
        margin-bottom: 16px;
        input {
            margin-right: 4px;
        }
        label {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.order-btn {
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    width: 100%;
    padding: 8px 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    color: white;
    transition: all 0.5s ease;
    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
        transform: scale(1.05);
    }
}

.dialog {
    width: 1200px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
}

@media (max-width: 991.98px) {
    .Order {
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        width: 500px;
    }
}

@media (max-width: 767.98px) {
    .Order {
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        width: 100%;
    }

    .order-list {
        max-height: 240px;
    }
}
