.modal-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    background-color: white;
    position: relative;
    border-radius: 10px;
    border: var(--primary-clr) 3px solid;
    padding: 16px;
    font-size: 18px;
    p {
        padding: 20px 0;
        margin: 0;
    }
}
.btn {
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    color: white;
    width: 100px;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
    }
}
.list-btn {
    display: flex;
    flex-direction: row;
}
.text {
    text-decoration: none;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    h5 {
        margin: 0;
    }
}
