.wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    padding: 20px 16px;
    display: flex;
    border-radius: var(--border-radius);
    background-color: var(--bg-clr);
    align-items: center;
    flex-direction: column;
}
.box {
    padding: 5px;
    margin: 7px 0;
    border-radius: 5px;
}
.btn {
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 18px;
    color: white;
    width: 100px;
    margin: 10px auto 0;

    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
    }
}

.bank {
    width: 400px;
    padding: 20px 16px;
    border-radius: var(--border-radius);
    background-color: var(--bg-clr);

    display: flex;
    flex-direction: column;
}
.btn-list {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 26px;
    border-radius: 50%;
}

.item {
    background-color: var(--bg-gray-clr);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
    p {
        margin: 0;
    }
}

.btnRecharge {
    background-color: var(--primary-clr);
    color: #fff;
    cursor: pointer;
}
