.Content {
    flex: 7;

    .content-menu {
        margin-top: 20px;
        h2 {
            font-size: 24px;
            color: var(--primary-clr);
        }

        .content-menu-list-item {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
