.modal-page{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    display: flex;
    align-items:baseline;
    justify-content: center;

}
.content{
    min-height: 450px;
}
.bill{
    margin-top: 50px;
    min-width: 450px;
    min-height: 600px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border: var(--primary-clr) 3px solid;
    max-width: 400px;
    position: relative;
    padding: 16px;
}
.info-table{
    display: flex;
    flex-direction: column;
}
.btn{
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 18px;
    color: white;
    width: 100px;
    margin: 10px auto 0;

    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
    }
}
.list-btn{
    display: flex;
    flex-direction: row;
}