.modal-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 11;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
    z-index: 12;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 0 20px;
    border: var(--primary-clr) 2px solid;
    padding: 8px 16px;
    font-size: 18px;
    p {
        margin: 0;
    }
}
.btn {
    background: var(--primary-clr);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    color: white;
    width: 100px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background: rgba(200, 74, 121, 0.6);
    }
}
