.storage {
    flex: 3;
    margin-left: 20px;
}

.storage-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    h2 {
        color: var(--primary-clr);
        font-size: 24px;
    }
}

.storage-body {
    display: flex;
    height: 560px;
}

.storage-bill {
    display: flex;
    flex: 4;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
}

.storage-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
        height: 20px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: rgba(18, 18, 18, 0.2);
    }
}

.storage-item {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 20px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 95%;
        height: 1px;
        background: var(--primary-clr);
    }
    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
}

.storage-info {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    width: 30%;

    span {
        font-size: 18px;
        font-weight: bold;
    }
}

.storage-price {
    flex: 1;
}

.storage-edit {
    margin: 0 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        color: var(--primary-clr);
        transform: scale(1.1);
    }
}

.storage-amount {
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 26px;
    align-items: center;
}

.storage-amount-change {
    width: 26px;
    height: 26px;
    background: var(--primary-clr);
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: rgba(200, 74, 121, 0.6);
    }
}

.storage-amount-num {
    padding: 0 10px;
    border: 1px solid var(--primary-clr);
}

.storage-new-food {
    flex: 1.5;
    margin-left: 20px;
    border: 2px solid #ccc;
    padding: 0 10px;
    border-radius: var(--border-radius);

    h4 {
        color: var(--primary-clr);
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0 0 0;
        border-bottom: 2px solid var(--primary-clr);
    }
}

.storage-new-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}

.storage-new-upload {
    margin-top: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;

    &:hover {
        color: var(--primary-clr);
        transform: scale(1.1);
    }
}

.storage-info-food {
    display: flex;
    flex-direction: column;

    input {
        height: 36px;
        margin-top: 10px;
        border: 2px solid #ccc;
        border-radius: var(--border-radius);
        padding: 0 10px;

        &::placeholder {
            color: var(--text-color);
            font-style: italic;
        }

        &:focus {
            border: 2px solid var(--primary-clr);
        }
    }
}

.storage-btn-add {
    background: var(--primary-clr);
    border-radius: var(--border-radius);
    width: 100%;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bold;
    margin: 20px auto 10px;

    &:hover {
        cursor: pointer;
        background: rgba(184, 0, 101, 0.6);
    }
}

.modal-add-title {
    color: var(--primary-clr);
}

.modal-add {
    font-size: 20px;
    margin-right: 10px;
}

.modal-add-input {
    padding: 10px;
    border: 1px solid var(--primary-clr);
    border-radius: var(--border-radius);
}

.modal-add-btn {
    background: var(--primary-clr);
    border-radius: var(--border-radius);
    outline: none;
    border: 1px solid var(--primary-clr);
}
